<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Tec</title>
  <link rel="stylesheet" href="/assets/css/style.css" />
  <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
</head>
<body>
  <div class="header">
    <div class="container">
      <ul class="links">
        <li><a href="#">Menu</a></li>
        <li><a href="#">Batata</a></li>
      </ul>
      <img src="/assets/img/batemeta.png" alt="BateMeta" class="bate-meta">
    </div>
  </div>
  <div class="main index">
    <div class="center">
      <div class="container">
        <h1>Você quer responder pergutnas?</h1>
        <h3>Faça o teste e descrubra alguma coisa.</h3>
        <a class='button' href="/quiz">Faça o teste agora!</a>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="container">
      <div class="right">
        <p class="diretiros">Augusto Nishi - Todos os Direitos Reservados</p>
        <ul class="links">
          <li><a href="#">Política de Privacidade</a></li>
          <li><a href="#">Termos de Uso</a></li>
        </ul>
      </div>
      <p class='title'>Ola tudo bom?</p>
    </div>
  </footer>
</body>
</html>
