<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Bate Meta</title>
  <link rel="stylesheet" href="/assets/css/style.css" />
  <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
</head>
<body>
  <div class="header quiz">
    <div class="big-container">
      <ul class="links">
        <li><a href="#">Menu</a></li>
        <li><a href="#">Batata</a></li>
      </ul>
      <img src="/assets/img/batemeta-branco.png" alt="BateMeta" class="logo">
    </div>
  </div>
  <div class="main quiz">
    <div class="center-quiz">
      <form class="quiz-form">
        <div class="question" id="1">
          <div class="circle" id="circle1">1</div>
          <h3>Quantas propostas acha que esse quiz tem?</h3>
          <input type="radio" value="1-9" name="quiz1" id="11">
          <label for="11">1 - 9</label> <br>
          <input type="radio" value="10-99" name="quiz1" id="12">
          <label for="12">10 - 99</label><br>
          <input type="radio" value="100-999" name="quiz1" id="13">
          <label for="13">100 - 999</label><br>
          <input type="radio" value="1000+" name="quiz1" id="14">
          <label for="14">1000+</label><br>
          <div class="question-counter" id="question1">
          Pergunta 0/999
          <a class="quiz-next">Continuar</a></div>
        </div>
        <div class="email-form">
          <p>Preencha seus dados abaixo para que possamos enviar os resultados assim que terminarmos a análise.</p>
          <table>
            <tr>
              <td><label for="name">Nome</label></td>
              <td><input type="text" id="name" name="name"></td>
            </tr>
            <tr>
              <td><label for="lastName">Sobrenome</label></td>
              <td><input type="text" id="last_name" name="last_name"></td>
            </tr>
            <tr>
              <td><label for="email">E-mail</label></td>
              <td><input type="text" id="email" name="email"></td>
            </tr>
          </table>
        </div>
        <button id="quiz-finish"> Receber resultado </button>
      </form>
    </div>
  </div>
  <footer class="footer">
    <div class="container">
      <div class="right">
        <p class="diretiros">Augusto Nishi - Todos os Direitos Reservados</p>
        <ul class="links">
          <li><a href="#">Política de Privacidade</a></li>
          <li><a href="#">Termos de Uso</a></li>
        </ul>
      </div>
      <p class='title'>Ola tudo bom?</p>
    </div>
  </footer>
  </body>
</html>
